  @media (max-width: 600px){
    .jumbotron p{
      font-size: 1.2em;
    }
  }

body, html{
  margin-top: 1em;
  min-width:360px;
}


#image{
  display: block;
}
.img-responsive.gm{
  filter:  grayscale(80%);
  box-shadow: 1px 1px 1px 2px #111;
}

.contacts a{
  font-size:1.2em;
  margin-right:15px ;
/*   text-decoration:none; */
  color:#666;
}

.contacts a:hover{
  color: #444;
}


footer.main {
  background-color:#444;
  padding: 10px;
  height: auto;
  color:#eee;
}

footer .fa-heart{
  color:red;
}